spring:
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: ${MAIL_CONNECTION_TIMEOUT:5000}
          timeout: ${MAIL_TIMEOUT:5000}
          writetimeout: ${MAIL_WRITE_TIMEOUT:5000}
          ssl:
            trust: ${MAIL_SSL_TRUST:smtp.gmail.com}

notification:
  mail:
    from: ${MAIL_FROM:${MAIL_USERNAME}}
    mock-delivery: false
